<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.restaurant.nenda">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.restaurant.nenda.CreateRestaurantActivity"></activity>
        <activity
            android:name="com.restaurant.nenda.ProfileActivity"
            android:label="@string/profile_account" />
        <activity android:name="com.restaurant.nenda.auth.ChangePasswordActivity" />
        <activity android:name="com.restaurant.nenda.auth.RegisterActivity" />
        <activity android:name="com.restaurant.nenda.auth.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.restaurant.nenda.DashboardActivity" />
    </application>

</manifest>